<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="lib/ace/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="lib/ace/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="lib/ace/assets/css/ace.min.css"/>
    <link rel="stylesheet" href="lib/ace/assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="lib/ace/assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="css/mine.css">

    <script src="lib/ace/assets/js/ace-extra.min.js"></script>
</head>
<body ng-app="myapp">
<div class="navbar navbar-default" id="navbar" style="height: 45px;background: green">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    Page & Module
                </small>
            </a><!-- /.brand -->
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="green">
                    <img class="nav-user-photo" src="lib/ace/assets/avatars/avatar4.png"/>
								<span class="user-info">
									<small style="color: whitesmoke">欢迎!</small>
								</span>
                </li>
            </ul>
            <!-- /.ace-nav -->
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</div>


<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="">
                        <i class="icon-book" style="color: green"></i>
                        <span class="" style="color: green"> 生成与查看 </span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="main-content" ng-controller="myController">
            <div class="page-content">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat">
                                <h4><i class="icon-gear"></i>Page新增</h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="mine-border">
                                                页面名称:&nbsp;&nbsp;<input type="text" ng-model="pageIdName" placeholder="例如：超级返首页"/>
                                            </div>
                                            <div class="mine-border">
                                                页面描述:&nbsp;&nbsp;<input type="text" ng-model="pageIdDesc"/>
                                            </div>
                                            <div class="mine-border">
                                                页面正则:&nbsp;&nbsp;<input type="text" ng-model="urlReg"/>
                                            </div>
                                            <div class="mine-border">
                                                类型:&nbsp;&nbsp;<select ng-model="currentTypeId" ng-options="typeId.name for typeId in typeIds"></select>
                                            </div>
                                            <div class="mine-border">
                                                部门:&nbsp;&nbsp;<select ng-model="currentBusinessId" ng-options="businessId.name for businessId in businessIds"></select>
                                            </div>
                                            <hr>
                                            <div class="align-right">
                                                <button ng-click="generatePageId()" class="mine-border btn btn-info btn-sm">确定</button>
                                            </div>
                                            <div ng-show="pageIdShow" class="mine-border" style="color: red">
                                                新增page成功!
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat">
                                <h4><i class="icon-gear"></i>Module新增</h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="mine-border">
                                                模块名称:&nbsp;&nbsp;<input type="text" ng-model="indexIdName" placeholder="例如：广告条"/>
                                            </div>
                                            <div class="mine-border">
                                                模块描述:&nbsp;&nbsp;<input type="text" ng-model="allDesc"/>
                                            </div>
                                            <div class="mine-border">
                                                关联页面:&nbsp;&nbsp;<select ng-model="currentPageId" ng-options="pageId.pageName for pageId in pageIds"></select>
                                            </div>
                                            <div class="mine-border">
                                                行为类型:&nbsp;&nbsp;<select ng-model="currentAction" ng-options="action.name for action in actions"></select>
                                            </div>
                                            <div class="mine-border">
                                                类型:&nbsp;&nbsp;<select ng-model="currentTypeId" ng-options="typeId.name for typeId in typeIds"></select>
                                            </div>
                                            <div class="mine-border">
                                                部门:&nbsp;&nbsp;<select ng-model="currentBusinessId" ng-options="businessId.name for businessId in businessIds"></select>
                                            </div>
                                            <hr>
                                            <div class="align-right">
                                                <button ng-click="saveClick()"
                                                        class="mine-border btn btn-info btn-sm">确定
                                                </button>
                                            </div>
                                            <div ng-show="InfoShow" class="mine-border" style="color: red">新增module成功!</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat">
                                <h4><i class=" icon-eye-open"></i>Page查看</h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div>
                                                <span>部门:</span>
                                                <select ng-model="currentBusinessId" ng-options="businessId.name for businessId in businessIds"></select>
                                                <div style="text-align: right; display: inline"><button class="btn btn-minier btn-inverse" ng-click="viewPages()">查看</button></div>
                                                <div style="text-align: right; display: inline"><button class="btn btn-minier btn-purple" ng-click="viewAllPages()">查看全部Page</button></div>

                                                <div style="margin-top: 5px;" ng-show="pages">
                                                    <div style="overflow-x: auto; overflow-y: auto; height: 100%; width:100%;">
                                                    <table class="table table-striped table-hover table-responsive">
                                                        <thead>
                                                        <tr>
                                                            <td>id</td>
                                                            <td>名称</td>
                                                            <td>描述</td>
                                                            <td ng-show="p_department">部门</td>
                                                            <td>类型</td>
                                                            <td>匹配正则</td>
                                                            <td>操作</td>
                                                        </tr>
                                                        </thead>
                                                        <tbody ng-repeat="page in pages">
                                                            <td>{{page.pageId}}</td>
                                                            <td>{{page.pageName}}</td>
                                                            <td>{{page.description}}</td>
                                                            <td ng-show="p_department">{{page.department}}</td>
                                                            <td>{{page.type}}</td>
                                                            <td>{{page.urlReg}}</td>
                                                            <td>
                                                                <button class="btn btn-danger btn-minier" ng-click="delPage(page.pageId)"><i class="icon-remove"></i></button>
                                                                <button class="btn btn-success btn-minier" ng-click="modifyPage(page.pageId)"><i class="icon-edit"></i></button>
                                                            </td>
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="widget-box">
                            <div class="widget-header widget-header-flat">
                                <h4><i class=" icon-eye-open"></i>Module查看</h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span>部门:</span>
                                            <select ng-model="currentBusinessId" ng-options="businessId.name for businessId in businessIds"></select>
                                            <span>页面：</span>
                                            <select ng-model="currentPageId" ng-options="pageId.pageName for pageId in pageIds"></select>
                                            <button class="btn btn-minier btn-inverse" ng-click="viewModules()">查看</button>
                                            <button class="btn btn-minier btn-purple" ng-click="viewAllModules()">查看全部Module</button>

                                            <div style="margin-top: 5px;" ng-show="modules">
                                                <div style="overflow-x: auto; overflow-y: auto; height: 100%; width:100%;">
                                                <table class="table table-striped table-hover table-responsive">
                                                    <thead>
                                                    <tr>
                                                        <td>id</td>
                                                        <td>名称</td>
                                                        <td>描述</td>
                                                        <td ngshow="m_department">部门</td>
                                                        <td ngshow="m_department">关联页面</td>
                                                        <td>类型</td>
                                                        <td>操作</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody ng-repeat="module in modules">
                                                        <td>{{module.id}}</td>
                                                        <td>{{module.indexName}}</td>
                                                        <td>{{module.description}}</td>
                                                        <td ngshow="m_department">{{module.department}}</td>
                                                        <td ngshow="m_department">{{module.pageName}}</td>
                                                        <td>{{module.type}}</td>
                                                        <td>
                                                            <button class="btn btn-danger btn-minier" ng-click="delModule(module.id)"><i class="icon-remove"></i></button>
                                                            <button class="btn btn-success btn-minier" ng-click="modifyModule(module.id)"><i class="icon-edit"></i></button>
                                                        </td>
                                                    </tbody>
                                                </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Module 修改</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mine-border">
                        模块名称:&nbsp;&nbsp;<input type="text" ng-model="indexIdName"/>
                    </div>
                    <div class="mine-border">
                        模块描述:&nbsp;&nbsp;<input type="text" ng-model="allDesc"/>
                    </div>
                    <div class="mine-border">
                        关联页面:&nbsp;&nbsp;<select ng-model="currentPageId" ng-options="pageId.pageName for pageId in pageIds"></select>
                    </div>
                    <div class="mine-border">
                        类型:&nbsp;&nbsp;<select ng-model="currentTypeId" ng-options="typeId.name for typeId in typeIds"></select>
                    </div>
                    <div class="mine-border">
                        部门:&nbsp;&nbsp;<select ng-model="currentBusinessId" ng-options="businessId.name for businessId in businessIds"></select>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">更新</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
</div>

<div>
    <script type="text/ng-template" id="myModalContent1.html">
        <div class="modal-header">
            <h3 class="modal-title">Page 修改</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mine-border">
                        页面名称:&nbsp;&nbsp;<input type="text" ng-model="pageIdName"/>
                    </div>
                    <div class="mine-border">
                        页面描述:&nbsp;&nbsp;<input type="text" ng-model="pageIdDesc"/>
                    </div>
                    <div class="mine-border">
                        页面正则:&nbsp;&nbsp;<input type="text" ng-model="urlReg"/>
                    </div>
                    <div class="mine-border">
                        类型:&nbsp;&nbsp;<select ng-model="currentTypeId" ng-options="typeId.name for typeId in typeIds"></select>
                    </div>
                    <div class="mine-border">
                        部门:&nbsp;&nbsp;<select ng-model="currentBusinessId" ng-options="businessId.name for businessId in businessIds"></select>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">更新</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
    </script>
</div>

<script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
<script src="lib/ace/assets/js/bootstrap.min.js"></script>
<script src="lib/ace/assets/js/ace-elements.min.js"></script>
<script src="lib/ace/assets/js/ace.min.js"></script>

<script src="lib/bower_components/angularjs/angular.min.js"></script>
<script src="lib/ui-bootstrap-tpls-0.13.2.min.js"></script>
<script src="lib/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>